.newsletter{
    padding: 20px 50px;
    background-color: var(--orange);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.newsletter h2{
    color: white;
    font-size: 30px;
}
.newsletter .form{
    width: 400px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.newsletter button{
    width: 100px;
    height: 70px;
    background-color: black;
    color: var(--orange);
    font-size: 20px;
}
.newsletter input{
    width: 300px;
    padding: 20px;
    font-size: 20px;
}
footer{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.850)50%, rgba(0, 0, 0, 0.850)50%), url(img/img7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 0;
}
.footer1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 70px;
    
}
.footer1 .side1 h2{
    color: var(--orange);
    font-size: 50px;
}
.footer1 .side1 p{
    color: white;
    width: 300px;
    padding: 10px 0px;
    line-height: 30px;
    letter-spacing: 4px;
}
.talk{
    font-size: 30px;
    line-height: 20px;
}
.side2 h6, .side3 h6{
    font-size: 30px;
    color: white;
}
.side2 ul, .side3 ul{
    margin-top: 20px;
}
.side2 ul li, .side3 ul li{
    list-style: none;
    padding: 5px 0px;
    
}
.side2 ul li a, .side3 ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all .1s ease;
}
.side2 ul li:hover, .side3 ul li:hover{
    transform: translateX(15px);
}
.footer-line{
    width: 100%;
    height: 2px;
    background-color: bisque;
    padding-left: -100px;
}
.footer2{
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer2 p{
    color: white;
    letter-spacing: 3px;
    font-size: 17px;
    padding-left: 50px;
}
.footer2 .right-side ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.footer2 .right-side ul li{
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer2 .right-side ul li a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
@media (max-width: 850px){
    .newsletter{
        padding: 20px 50px;
        background-color: var(--orange);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .newsletter h2{
        color: white;
        font-size: 30px;
    }
    .newsletter .form{
        width: 400px;
        height: 70px;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .newsletter button{
        width: 100px;
        height: 70px;
        background-color: black;
        color: var(--orange);
        font-size: 20px;
    }
    .newsletter input{
        width: 300px;
        padding: 20px;
        font-size: 20px;
    }
    footer{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.850)50%, rgba(0, 0, 0, 0.850)50%), url(img/img7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 0;
    }
    .footer1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 40px;
        
    }
    .footer1 .side1 h2{
        color: var(--orange);
        font-size: 40px;
    }
    .footer1 .side1 p{
        color: white;
        width: 300px;
        padding: 10px 0px;
        line-height: 30px;
        letter-spacing: 4px;
    }
    .talk{
        font-size: 20px;
        line-height: 20px;
    }
    .side2 h6, .side3 h6{
        font-size: 20px;
        color: white;
    }
    .side2 ul, .side3 ul{
        margin-top: 20px;
    }
    .side2 ul li, .side3 ul li{
        list-style: none;
        padding: 5px 0px;
    }
    .side2 ul li a, .side3 ul li a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        transition: all .1s ease;
    }
    .side2 ul li:hover, .side3 ul li:hover{
        transform: translateX(15px);
    }
    .footer-line{
        width: 100%;
        height: 2px;
        background-color: bisque;
        padding-left: -100px;
    }
    .footer2{
        padding: 50px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer2 p{
        color: white;
        letter-spacing: 3px;
        font-size: 13px;
        padding-left: 50px;
    }
    .footer2 .right-side ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 50px;
    }
    .footer2 .right-side ul li{
        width: 30px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer2 .right-side ul li a{
        text-decoration: none;
        color: blue;
        font-size: 20px;
    }   
}
@media (max-width: 750px){
    .newsletter{
        padding: 20px 50px;
        background-color: var(--orange);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .newsletter h2{
        color: white;
        font-size: 30px;
    }
    .newsletter .form{
        width: 400px;
        height: 70px;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .newsletter button{
        width: 100px;
        height: 70px;
        background-color: black;
        color: var(--orange);
        font-size: 20px;
    }
    .newsletter input{
        width: 300px;
        padding: 20px;
        font-size: 20px;
    }
    footer{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.850)50%, rgba(0, 0, 0, 0.850)50%), url(img/img7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 0;
    }
    .footer1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 40px;
    }
    .footer1 .side1 h2{
        color: var(--orange);
        font-size: 40px;
    }
    .footer1 .side1 p{
        color: white;
        width: 300px;
        padding: 10px 0px;
        line-height: 30px;
        letter-spacing: 4px;
        font-size: 20px;
    }
    .talk{
        font-size: 20px;
        line-height: 20px;
    }
    .side2 h6, .side3 h6{
        font-size: 20px;
        color: white;
    }
    .side2 ul, .side3 ul{
        margin-top: 20px;
    }
    .side2 ul li, .side3 ul li{
        list-style: none;
        padding: 5px 0px;
    }
    .side2 ul li a, .side3 ul li a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        transition: all .1s ease;
    }
    .side2 ul li:hover, .side3 ul li:hover{
        transform: translateX(15px);
    }
    .footer-line{
        width: 100%;
        height: 2px;
        background-color: bisque;
        padding-left: -100px;
    }
    .footer2{
        padding: 50px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer2 p{
        color: white;
        letter-spacing: 3px;
        font-size: 13px;
        padding-left: 50px;
    }
    .footer2 .right-side ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 50px;
    }
    .footer2 .right-side ul li{
        width: 30px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer2 .right-side ul li a{
        text-decoration: none;
        color: blue;
        font-size: 20px;
    }      
}
@media (max-width: 650px){
    .newsletter{
        padding: 20px 0px;
        background-color: var(--orange);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .newsletter h2{
        color: white;
        font-size: 20px;
    }
    .newsletter .form{
        width: 100px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
    }
    .newsletter button{
        width: 200px;
        height: 40px;
        background-color: black;
        color: var(--orange);
        font-size: 14px;
        padding: 15px;
    }
    .newsletter input{
        width: 200px;
        padding: 20px;
        font-size: 15px;
    }
    footer{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.850)50%, rgba(0, 0, 0, 0.850)50%), url(img/img7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 0;
    }
    .footer1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
        margin-left: -50px;
        
    }
    .footer1 .side1 h2{
        color: var(--orange);
        font-size: 40px;
    }
    .footer1 .side1 p{
        color: white;
        width: 300px;
        padding: 10px 0px;
        line-height: 20px;
        letter-spacing: 4px;
        font-size: 15px;
    }
    .talk{
        font-size: 20px;
        line-height: 20px;
    }
    .side2{
        margin-left: -90px;
    }
    .side3{
        margin-left: -50px;
        margin-top: 20px;
    }
    .side2 h6, .side3 h6{
        font-size: 30px;
        color: white;
    }
    .side2 ul, .side3 ul{
        margin-top: 20px;
    }
    .side2 ul li, .side3 ul li{
        list-style: none;
        padding: 5px 0px;
        
    }
    .side2 ul li a, .side3 ul li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        transition: all .1s ease;
    }
    .side2 ul li:hover, .side3 ul li:hover{
        transform: translateX(15px);
    }
    .footer-line{
        width: 100%;
        height: 2px;
        background-color: bisque;
        padding-left: -100px;
    }
    .footer2{
        padding: 50px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer2 p{
        color: white;
        letter-spacing: 3px;
        font-size: 14px;
        padding-left: 50px;
        margin-left: -35px;
    }
    .footer2 .right-side ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 12px;
    }
    .footer2 .right-side ul li{
        width: 25px;
        height: 25px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer2 .right-side ul li a{
        text-decoration: none;
        color: blue;
        font-size: 20px;
    }   
}
@media (max-width: 380px){
    .newsletter{
        padding: 20px 0px;
        background-color: var(--orange);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .newsletter h2{
        color: white;
        font-size: 20px;
    }
    .newsletter .form{
        width: 100px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
    }
    .newsletter button{
        width: 200px;
        height: 40px;
        background-color: black;
        color: var(--orange);
        font-size: 14px;
        padding: 15px;
    }
    .newsletter input{
        width: 200px;
        padding: 20px;
        font-size: 15px;
    }
    footer{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.850)50%, rgba(0, 0, 0, 0.850)50%), url(img/img7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 0;
    }
    .footer1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
        margin-left: -50px;
        
    }
    .footer1 .side1 h2{
        color: var(--orange);
        font-size: 30px;
    }
    .footer1 .side1 p{
        color: white;
        width: 300px;
        padding: 10px 0px;
        line-height: 20px;
        letter-spacing: 4px;
        font-size: 12px;
    }
    .talk{
        font-size: 20px;
        line-height: 20px;
    }
    .side2{
        margin-left: -90px;
    }
    .side3{
        margin-left: -50px;
        margin-top: 20px;
    }
    .side2 h6, .side3 h6{
        font-size: 30px;
        color: white;
    }
    .side2 ul, .side3 ul{
        margin-top: 20px;
    }
    .side2 ul li, .side3 ul li{
        list-style: none;
        padding: 5px 0px;
        
    }
    .side2 ul li a, .side3 ul li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        transition: all .1s ease;
    }
    .side2 ul li:hover, .side3 ul li:hover{
        transform: translateX(15px);
    }
    .footer-line{
        width: 100%;
        height: 2px;
        background-color: bisque;
        padding-left: -100px;
    }
    .footer2{
        padding: 50px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer2 p{
        color: white;
        letter-spacing: 3px;
        font-size: 14px;
        padding-left: 50px;
        margin-left: -35px;
    }
    .footer2 .right-side ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 12px;
    }
    .footer2 .right-side ul li{
        width: 25px;
        height: 25px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer2 .right-side ul li a{
        text-decoration: none;
        color: blue;
        font-size: 20px;
    }
}
@media (max-width: 350px){
    .newsletter{
        padding: 20px 0px;
        background-color: var(--orange);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .newsletter h2{
        color: white;
        font-size: 20px;
    }
    .newsletter .form{
        width: 100px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
    }
    .newsletter button{
        width: 200px;
        height: 40px;
        background-color: black;
        color: var(--orange);
        font-size: 14px;
        padding: 15px;
    }
    .newsletter input{
        width: 200px;
        padding: 20px;
        font-size: 15px;
    }
    footer{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.850)50%, rgba(0, 0, 0, 0.850)50%), url(img/img7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 0;
    }
    .footer1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
        margin-left: 10px;
        
    }
    .footer1 .side1 h2{
        color: var(--orange);
        font-size: 30px;
    }
    .footer1 .side1 p{
        color: white;
        width: 300px;
        padding: 10px 0px;
        line-height: 20px;
        letter-spacing: 4px;
        font-size: 12px;
    }
    .talk{
        font-size: 20px;
        line-height: 20px;
    }
    .side2{
        margin-left: -90px;
    }
    .side3{
        margin-left: -50px;
        margin-top: 20px;
    }
    .side2 h6, .side3 h6{
        font-size: 30px;
        color: white;
    }
    .side2 ul, .side3 ul{
        margin-top: 20px;
    }
    .side2 ul li, .side3 ul li{
        list-style: none;
        padding: 5px 0px;
        
    }
    .side2 ul li a, .side3 ul li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        transition: all .1s ease;
    }
    .side2 ul li:hover, .side3 ul li:hover{
        transform: translateX(15px);
    }
    .footer-line{
        width: 100%;
        height: 2px;
        background-color: bisque;
        padding-left: -100px;
    }
    .footer2{
        padding: 50px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer2 p{
        color: white;
        letter-spacing: 3px;
        font-size: 14px;
        padding-left: 50px;
        margin-left: -35px;
    }
    .footer2 .right-side ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 12px;
    }
    .footer2 .right-side ul li{
        width: 25px;
        height: 25px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer2 .right-side ul li a{
        text-decoration: none;
        color: blue;
        font-size: 20px;
    }
}
@media (max-width: 320px){
    .newsletter{
        padding: 20px 0px;
        background-color: var(--orange);
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .newsletter h2{
        color: white;
        font-size: 20px;
    }
    .newsletter .form{
        width: 100px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
    }
    .newsletter button{
        width: 200px;
        height: 40px;
        background-color: black;
        color: var(--orange);
        font-size: 14px;
        padding: 15px;
    }
    .newsletter input{
        width: 200px;
        padding: 20px;
        font-size: 15px;
    }
    footer{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.850)50%, rgba(0, 0, 0, 0.850)50%), url(img/img7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        bottom: 0;
    }
    .footer1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
        margin-left: 10px;
        
    }
    .footer1 .side1 h2{
        color: var(--orange);
        font-size: 30px;
    }
    .footer1 .side1 p{
        color: white;
        width: 300px;
        padding: 10px 0px;
        line-height: 20px;
        letter-spacing: 4px;
        font-size: 12px;
    }
    .talk{
        font-size: 20px;
        line-height: 20px;
    }
    .side2{
        margin-left: -170px;
    }
    .side3{
        margin-left: -150px;
        margin-top: 20px;
    }
    .side2 h6, .side3 h6{
        font-size: 20px;
        color: white;
    }
    .side2 ul, .side3 ul{
        margin-top: 20px;
    }
    .side2 ul li, .side3 ul li{
        list-style: none;
        padding: 5px 0px;
        
    }
    .side2 ul li a, .side3 ul li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        transition: all .1s ease;
    }
    .side2 ul li:hover, .side3 ul li:hover{
        transform: translateX(15px);
    }
    .footer-line{
        width: 100%;
        height: 2px;
        background-color: bisque;
        padding-left: -100px;
    }
    .footer2{
        padding: 50px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer2 p{
        color: white;
        letter-spacing: 3px;
        font-size: 12px;
        padding-left: 50px;
        margin-left: -35px;
    }
    .footer2 .right-side ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 12px;
    }
    .footer2 .right-side ul li{
        width: 25px;
        height: 25px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer2 .right-side ul li a{
        text-decoration: none;
        color: blue;
        font-size: 20px;
    }
}