*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange: rgb(251, 115, 31);
    --white: rgb(232, 228, 228);
}
.pre-header{
    /* position: sticky; */
    background-color: rgb(194, 190, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.pre-header .right-side ul{
    display: flex;
    list-style: none;
}
.pre-header .right-side ul li{
    padding-left: 20px;
}
.pre-header .right-side ul li a{
    text-decoration: none;
    color: black;
}
.pre-header .left-side a{
    text-decoration: none;
    color: var(--orange);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
header .middle-box{
    display: flex;
    justify-content: center;
    gap: 50px;
}
header .inquiry-box{
    border: 2px solid var(--orange);
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header .inquiry-box:hover{
    background-color: var(--orange);
    color: white;
}
header .inquiry-box i{
    font-size: 20px;
    
}
.header-box{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}
.header-box i{
    font-size: 50px;
    color: var(--orange);
}
.header-box .color-p{
    color: var(--orange);
    text-decoration: none;
}
nav{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--orange);
    padding: 20px 0px;
    
}
nav .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    list-style: none;

}
nav .navigation a{
    text-decoration: none;
    color: var(--white);
    padding-bottom: 5px;
    transition: all .1s ease-in;
}
nav .navigation a:hover{
    border-bottom: 2px solid white;
    opacity: .5;
}
#dropdown{
    display: none;
    position: absolute;
    padding-top: 30px;
    padding-right: 10px;
    background-color: var(--orange);
    color: white;
    z-index: 1;
}
#dropdown li{
    padding: 10px;
    list-style: none;
    transition: all .2s ease-in;
}
#dropdown li:hover{
    transform: translateX(10px);
}
.navigation .drop-content:hover #dropdown{
    display: block;
}
.toggle{
    display: none;
}
@media (max-width: 650px){
    header{
        display: none;
    }
    .pre-header{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 150px;
        width: 100%;
        height: 80px;
        padding: 20px 10px;
        position: fixed;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--orange);
        padding: 20px 20px;
        position: relative;
    }
    nav .navigation{
        background-color: var(--orange);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
        list-style: none;
        width: 0;
        height: 100vh;
        position: fixed;
        top: 70px;
        right: -50px;
        transition: all 0.5s ease;
    }
    .toggle{
        display: block;
    }
    nav .navigation li{
        padding: 15px;
    }
    nav .navigation a{
        text-decoration: none;
        color: var(--white);
        transition: all .1s ease-in;
    }
    nav .navigation a:hover{
        border-bottom: 2px solid white;
        opacity: .5;
    }
    #dropdown{
        display: none;
        position: absolute;
        left: 70px;
        padding-top: 3px;
        background-color: var(--orange);
        color: white;
        z-index: 1;
    }
    #dropdown li{
        padding: 10px;
        list-style: none;
        transition: all .2s ease-in;
    }
    #dropdown li:hover{
        transform: translateX(10px);
    }
    .navigation .drop-content:hover #dropdown{
        display: block;
    }
    .toggle .fa-bars{
        font-size: 30px;
        display: block;
    }
    .toggle .fa-xmark{
        position: absolute;
        top: 30px;
        right: 30px;
        color: var(--primary);
        font-size: 30px;
        display: none;    
    }

}
