*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --orange: rgb(251, 115, 31);
    --white: rgb(232, 228, 228);
}
main{
    position: relative;
}
.slider{
    display: none;
}
.slider1{
    display: block;
    width: 100%;
    height: 650px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.247)50%, rgba(0, 0, 0, 0.247)50%), url(img/img7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 150px 100px;
}
.slider2{
    width: 100%;
    height: 650px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.247)50%, rgba(0, 0, 0, 0.247)50%), url(img/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 150px 100px;
}
.slider p{
    font-size: 30px;
    color: var(--orange);
    font-weight: bolder;
    letter-spacing: 5px;
    border-bottom: 2px solid white;
    width: fit-content;
    padding-bottom: 3px;
}
.slider h2{
    font-size: 60px;
    color: black;
    padding: 20px 0px;
    line-height: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slider h2 span{
    color: var(--orange);
}
.slider a{
    background-color: var(--orange);
    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 100px auto;
}
.slider a:hover{
    background-color: white;
    color: var(--orange);
}
main .arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    background-color: white;
    padding: 20px;
}
main .arrow .fa-chevron-left{
    padding-right: 40px;
}
.choose-us{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 60px; */
    padding: 50px 0px ;
}
.choose-us .left-side h4, .what-we-provide h4, .faqs h4, .reviews h4{
    font-size: 15px;
    border-bottom: 2px solid var(--orange);
    color: gray;
    width: fit-content;
    margin: 20px 0px;
}
.choose-us .left-side h2, .what-we-provide h2, .faqs h2, .reviews h2{
    font-size: 40px;
    color: var(--orange);
}
.choose-us .right-side{
    width: 500px;
    color: gray;

}
.right-side p{
    line-height: 30px;
}
.satisfied{
    color: var(--orange);
    font-size: 20px;
    padding-top: 50px;
}
.line{
    display: flex;
    align-items: center;
}
.satisfied-line{
    width: 400px;
    height: 5px;
    background-color: var(--orange);
}
.satisfied-line2{
    width: 500px;
    height: 2px;
    background-color: var(--orange);
    margin-top: 3px;
}
.what-we-provide{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-flow: column wrap;
    margin: 70px;
}
.gallery{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
    margin: 50px 0px;
}
.img1{
    width: 300px;
    height: 300px;
    background-image: url(img/img10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(32, 32, 32), -5px -5px 20px rgb(32, 32, 32);
}
.img2{
    width: 300px;
    height: 300px;
    background-image: url(img/img9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(32, 32, 32), -5px -5px 20px rgb(32, 32, 32);
}
.img3{
    width: 300px;
    height: 300px;
    background-image: url(img/img8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(80, 80, 80), -5px -5px 20px rgb(82, 81, 81);
}
.img4{
    width: 300px;
    height: 300px;
    background-image: url(img/img11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(80, 80, 80), -5px -5px 20px rgb(82, 81, 81);
}
.img5{
    width: 300px;
    height: 300px;
    background-image: url(img/img12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(80, 80, 80), -5px -5px 20px rgb(82, 81, 81);
}
.img6{
    width: 300px;
    height: 300px;
    background-image: url(img/img13.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb(32, 32, 32), -5px -5px 20px rgb(32, 32, 32);
}
.faqs{
    margin: 70px 0px;
    margin-left: 70px;
    overflow-x: hidden;
}
.faqs-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.faqs .right-side{
    background-image: url(img/img5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1000px;
    height: 600px;
}
.faqs .left-side{
    width: 900px;
    margin: 40px 0px;
}
.faqs-section .left-side .accordion{
    cursor: pointer;
    margin: 20px 0px;
    /* border: 2px solid var(--orange); */
}
.faqs-section .left-side .accordion .show{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 30px 10px;
    border: 2px solid var(--orange);
}
.faqs-section .left-side .accordion .hide{
    font-size: 18px;
    padding: 20px;
    height: 120px;
    transition: all .5s ease-out;
    transform: scaleY(1);
    transform-origin: top;
    border: 2px solid var(--orange);
}
.accontent{
    overflow: hidden;

}
.collapsed{
    height: 0px;
}
.reviews {
    margin: 100px 70px;
}
.reviews .review{
    width: 1000px;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.reviews .review1{
    display: block;
}
.review p{
    font-size: 40px;
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 50px 0px;
    font-style: oblique;
}
.star{
    font-size: 30px;
    color: var(--orange);
    text-align: center;
}
